<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Info Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Home</h1>
    <p>Welcome, user!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Weather Service</h1>
            <form th:action="@{/weather}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter city name" name="city">
                    <button type="submit" class="btn btn-primary">Show Weather</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h1>HUE Light Service</h1>
            <form th:action="@{/lights}" method="get">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Show Light Status</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h1>Planespotting Service</h1>
            <form th:action="@{/planespotting/sightings}" method="get">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Show Sightings</button>
                </div>
            </form>
            <form th:action="@{/planespotting/statistics}" method="get">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Show Statistics</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h1>Plant Service</h1>
            <form th:action="@{/plants/all}" method="get">
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Show Plants</button>
                </div>
            </form>
            <form th:action="@{/plants/add}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Plant Name" name="plant">
                    <button type="submit" class="btn btn-primary">Add Plant</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>