<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Light Result</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // Function to handle color change
    function handleColorChange(lightId, color) {
      axios.post(`/lights/light/color/${lightId}`, { color: color })
              .then(response => {
                // Handle the response if needed
                console.log(response.data);
              })
              .catch(error => {
                // Handle the error if needed
                console.error(error);
              });
    }

    $(document).ready(function() {
      $("input[name='color']").change(function() {
        const lightId = $(this).closest("tr").find("td:first-child").text().trim();
        const color = $(this).val();
        handleColorChange(lightId, color);
      });
    });
  </script>
</head>
<body>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Available Lamps</h3>
    </div>
    <div class="card-body">
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>State</th>
            <th>Color</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="light : ${lights}">
            <td th:text="${light.lightid}"></td>
            <td th:text="${light.name}"></td>
            <td th:text="${light.state.on}"></td>
            <td>
              <form th:action="@{/lights/light/state/{id}(id=${light.lightid})}" method="post">
                <button type="submit" class="btn btn-primary">Toggle Lamp</button>
              </form>
            </td>
            <td>
              <input type="color" name="color" th:value="${light.colorCode}"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<a href="/" class="btn btn-secondary mt-3">Go back</a>
</body>
</html>