<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Light Result</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="mt-3">A list of lights connected to your Hue System</h1>
  <ul class="list-group mt-3">
    <!-- Use a vertical list -->
    <li class="list-group-item" th:each="light: ${lights}" th:text="${light.name}" />
  </ul>
  <a href="/" class="btn btn-secondary mt-3">Go back</a>
</div>
</body>
</html>