<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Map</title>
    <!-- Include any necessary CSS stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Include necessary libraries, e.g., Leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<h1>Flight Map</h1>

<div id="map" style="height: 750px;"></div>

<script th:inline="javascript">
    // Get the flight logs data from the Thymeleaf model
    const flightLogs = /*[[${flightLogs}]]*/ [];

    // Create a map instance and set its initial view
    const map = L.map('map').setView([53.673500, 9.985630], 7.5);

    const colorScale = chroma.scale(['green', 'yellow', 'orange', 'red', 'purple']).domain([0, 10000, 20000, 30000, 45000]);

    // Add the tile layer for the base map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // my location
    const circle = L.circle([53.673500, 9.985630], {
        color: 'blue',
        fillColor: 'blue',
        fillOpacity: 0.5,
        radius: 500
    }).addTo(map);

    // Iterate over the flight logs and create polylines between the points
    flightLogs.forEach(function(flightLog) {
        const startPoint = L.latLng(flightLog.firstLatitude, flightLog.firstLongitude);
        const endPoint = L.latLng(flightLog.lastLatitude, flightLog.lastLongitude);

        const altitude = (flightLog.lastAltitude + flightLog.firstAltitude)/2

        const color = colorScale(altitude).hex();
        // Create a polyline between the start and end points
        const line = L.polyline([startPoint, endPoint], {color: color}).addTo(map);
    });
</script>
</body>
</html>
